/* Estilos do contêiner principal */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupa toda a altura da viewport */
  font-family: Arial, sans-serif;
}

/* Cabeçalho */
header {
  flex-shrink: 0;
}

/* Conteúdo principal */
main {
  flex-grow: 1;
  padding: 20px;
}

.abc2{
  color: #073763;
 
}
.abc{
  font-size: medium;
}
.linha{
  color: #073763;
}
